#main.camp-list .filter { display: flex; justify-content: stretch; flex-wrap: wrap; gap: .5rem; }
#main.camp-list .filter .item { padding: 5px 1rem; font-size: var(--font_md); border:1px solid var(--primary_m); border-radius: 30px; color: var(--primary_m); cursor: pointer; transition: .2s;}
#main.camp-list .filter .item.active { background-color: var(--primary_m); color:var(--natural_0) }
#main.camp-list .search-area { display:flex; width: 100%; border:2px solid var(--primary_m); padding: 1rem 2rem; border-radius: 50px; display: flex;}
#main.camp-list .search-area .search-input { width: 100%; font-size: var(--font_xlg); border:none}
/*#main.camp-list .search-area .search-btn { display:block; width: 3rem; background: url('../images/common/icon_search.svg') no-repeat; background-size: cover; border: none; cursor: pointer;}*/

#main.camp-list .camp_list { display: flex; justify-content: space-between; flex-wrap: wrap; }
#main.camp-list .camp_list .camp { width: calc(33% - 1rem); margin-bottom: var(--space_lg);  border: 1px solid var(--primary_m); padding: 1rem; border-radius: var(--round-lg); box-shadow: 0 2px 5px rgba(0,0,0,0.3); transition: .3s;}
#main.camp-list .camp_list .camp .img-area { display: block; width: 100% ;  position:relative; border-radius: var(--round-md); overflow: hidden; margin-bottom: var(--space_md);}
#main.camp-list .camp_list .camp .img-area img { display: block; width: 100% ;}
#main.camp-list .camp_list .camp .img-area .btn-box { display: flex; gap: 1rem; position: absolute; bottom: 1rem; right: 1rem; }
#main.camp-list .camp_list .camp .img-area .btn-box >* {display: flex; justify-content: center; align-items: center; width: 2rem; height: 2rem; padding: 5px; border:1px solid var(--natural_100); border-radius: 50%; background-color: rgba(255,255,255,.4); transition: .2s;}
#main.camp-list .camp_list .camp .img-area .btn-box > .active { background-color: var(--second_m); }

#main.camp-list .camp_list .camp .txt-area .fs_md { color: var(--natural_60); padding-bottom:var(--space_md);}


@media (hover:hover) and (pointer:fine){
    #main.camp-list .camp_list .camp:hover { border:1px solid var(--second_m); transform: translateY(-1rem); }
    #main.camp-list .camp_list .camp .img-area .btn-box >*:hover { background-color: var(--second_m); }
}